
<% include layout %>




<h1><%= article.title %></h1> 
<h5>Written by  <%= article.author%></h5>
<p> <%=article.body %></p>
<hr>
<a href="/articles/<%=article._id%>/edit" class="btn btn-default">EDIT</a>
