<% include layout %>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css"  href="yelpcamp.css"/>

<%= title %>
<% articles.forEach(function(article){ %>
    <ul class="list-group">
        <li class="list-group-item"> 
                <a href="/article/<%=article._id %>"> <%= article.title %> </a>
        </li>
     

    </ul>

<%})%>