<% include layout %>
<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
<link rel="stylesheet" type="text/css"  href="/static/yelpcamp.css"/>

<%= title %>


<p><a href="/articles/add" class="btn btn-default">ADD ARTICLE</a></p>
<% articles.forEach(function(article){ %>
    <ul class="list-group">
        <li class="list-group-item"> 
                <a href="/article/<%=article._id %>"> <%= article.title %> </a>
        </li>
     

    </ul>


<%})%>