<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='/public/bower_components/bootstrap/dist/css/bootstrap.css'>
	<!-- <link rel="stylesheet" type="text/css"  href="yelpcamp.css"/> -->
    <title>Document</title>
</head>
<body>
   <title>Knowledgebase</title>
   <hr>
<h1>HELLO WORLD</h1>